<br>
<hr>
<br>
<div class="card">
    <div class="card-header">
        
        <h6>Recipe Details</h6>

        <div class="text-light position-absolute" style="top:0.1rem; right: 0.5rem">
            <a class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
        </div>

        <div class="text-light position-absolute" style="top: 0.1rem; right: 3.5rem">
            <a class="btn btn-secondary"><i class="bi bi-pencil-square"></i></a>
        </div>

        <div class="text-light position-absolute" style="top:0.1rem; right: 6.5rem">
            <a class="btn btn-primary"><i class="bi bi-cart4"></i></a>
        </div>

    </div>
    <div class="card-body">
      <h4 class="card-title">Recipe Name</h4>
      <img [src]="" class="card-img-top" alt="">
      <p class="card-text">Details</p>
      <p class="card-text"><small class="text-muted">
          Ingredients
        <app-recipe-item></app-recipe-item></small>
    </p>
    </div>
  </div>
<br>