<br>
<hr>
<br>
<br>
<div class="card" [id]="details" #detailsdiv>
    <div class="card-header">
        
        <h6>Recipe Details</h6>

        <div class="text-light position-absolute" style="top:0.1rem; right: 1.5rem" >
            <a class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete</a>
        </div>

        <div class="text-light position-absolute" style="top: 0.1rem; right: 7.6rem">
            <a class="btn btn-secondary"><i class="bi bi-pencil-square"></i> Edit</a>
        </div>

        <div class="text-light position-absolute" style="top:0.1rem; right: 12.5rem">
            <a class="btn btn-primary" (click)="onAddToShoppingList()"><i class="bi bi-cart4"></i> Add</a>
        </div>

    </div>
    <div class="card-body">
      <h4 class="card-title">{{recipe.name}}</h4>
      <img [src]="recipe.imagePath" class="card-img-top" style="width: 300px;" alt="{{recipe.name}}">
      <p class="card-text">{{recipe.description}}</p>
      <ul class="row">
          <div class="col-xs-12">
            <div class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient.name}} - {{ingredient.amount}}
                </li>
            </div>
          </div>
      </ul>
    </div>
  </div>
<br>